//noinspection CssUnusedSymbol
.fc {
  height: 100%;

  //noinspection CssUnusedSymbol
  .fc-toolbar {
    display: none !important;
  }

  //noinspection CssUnusedSymbol
  .fc-view-harness {
    height: 100%;
  }


  //noinspection CssUnusedSymbol
  .calendar_event {
    @apply bg-white rounded-lg p-1 border-0;

    * {
        @apply text-black font-medium;
    }
  }

}
